a {
  text-decoration: none;
}

body {
  background-color: #262626;
  color: #f5f5f5;
  text-align: center;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  margin: 5px 0px;
}

input {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 100%;
}

div {
  padding: 5px;
}

li {
  padding: 4px;
}

select {
  overflow-y: scroll; 
}

#addMAMCommentsHolder {
  padding-bottom: 0;
  margin-bottom: -6px;
}

#captionCharacterLength {
  display: inline-block;
  margin: 0 auto;
  max-width: 15px;
  text-align: center;
}

#clickForLink {
  color: white;
}

#colorPalettesApp {
  display: none;
}

#controls {
  display: inline;
}

#addCommentsXMLHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#csvHolder{
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#renameCsvHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: none;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#srtHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#csvContents, #renameCsvContents, #addCommentsXMLContents {
  display: none;
}

#srtContents {
  display: none;
}

#csvFileList, #renameCsvFileList, #addCommentsXMLFileList {
  display: none;
}

#srtFileList {
  display: none;
}

#csvFileUploaderReset, #renameCsvFileUploaderReset, #addCommentsXMLFileUploaderReset {
  padding: 7px;
  display: none;
}

#srtFileUploaderReset {
  padding: 7px;
  display: none;
}

#copiedColorText {
  display: none;
}

#csvParser {
  float: left;
}

#gridModal {
  display: none;
}

#helpBox {
  height: 40px;
  margin-top: -3px;
  max-width: 80%;
}

#hiddenText {
  display: none;
}

#importText {
  padding-left: 25px;
}

#infoModal {
  display: none;
}

#insider-logo {
  padding: 1px 0px 0px 0px;
  cursor: pointer;
}

#panelVersion {
  display: none;
}

#relinkHolder {
  margin-bottom: -10px;
}

#scaleToValue {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

#scriptImporterControls {
  display: none;
}

#srtImporterControls {
  display: none;
}

#scriptPreviewButton {
  background-color: #424242;
}
#scriptPreviewButtonHolder {
  display: none;
}

#scriptPreviewBox {
  display: none;
  width: 100%;
  border: 1px solid black;
  text-align: left;
}

#transcodeControls {
  display: none;
}

#reframeClipsControls {
  display: none;
}

#reframeMOGRTControls {
  display: none;
}

#fitToSequence {
  display: none;
}

#fullExporterControls { 
  display: none;
}

#fullExportSequenceName {
  height: 3px !important;
  padding-bottom: 6px;
  padding-left: 3px;
  width: 140px !important;
}

#csvUploadInput, #renameCsvUploadInput, #addCommentsXMLUploadInput {
  display: none;
}

#saveMessage {
  position: absolute;
  margin-left: 18px;
  top: 23px;
}

#srtUploadInput {
  display: none;
}

#csvUploadLink, #renameCsvUploadLink, #addCommentsXMLUploadLink {
  color: blue;
}

#srtUploadLink {
  color: blue;
}

#segmentExporterControls {
  display: none;
}

#horizontalThumbPixels {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

#mogrtTypeOptions {
  margin: 0 auto;
  max-width: 53px;
}

#MOGRTTrackOptions{
  max-width: 42px;
}

#projectToolsControls{
  display: none;
}

#thumbExportControls {
  display: none;
}

#thumbExportDetails {
  padding-left: 6px;
}

#thumbExporter {
  display: inline-block;
  margin-top: 6px;
}

#sequencesInitializeButton {
  display: inline-block;
  margin-top: 6px;
}

#updateWarning {
  font-size: 12px;
  display: none;
}

#updateNotification {
  display: none;
}

#verticalThumbPixels {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

.checkBox {
  float: left;
  margin: 0;
  padding: 9px 10px 0px 3px;
}

.checkboxContainer {
  max-width: 200px;
  text-align: center;
}

.checkBox-Text {
  float: left;
  margin: 0;
  padding: 8px 0px 0px 0px;;
}

.colorControlsElement {
  margin-top: 1px;
  cursor: pointer;
}

.fa-cog {
  font-size: 16px;
  color: white;
}

.fa-circle {
  font-size: 16px;
  color: white;
}

.fa-info-circle {
  font-size: 16px;
  color: white;
}

.fa-exclamation-circle {
  font-size: 17px;
  color: #ff4000;
  padding-right: 4px;
}

.fa-fa-th {
  font-size: 16px;
  color: white;
}

.fa-save {
  cursor: pointer;
  font-size: 15px;
  padding-left: 9px;
}

.fa-sync-alt {
  font-size: 16px;
  color: white;
  padding: 0px 2px;
}

.fa-times {
  font-size: 16px;
  color: #424242;
  padding: 0px 2px;
}

.form-Text {
  display: inline-block;
  margin: 0;
  padding: 4px 0px 0px 0px;;
}


.interfaceComponent {
  display: inline-block;
  padding: 5px 0px 0px 0px;
  vertical-align: middle;
}

.grid-pad {
  background-color: #00c59c;
  border: 3px solid rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 5px;
  margin: -5px 1px;
  text-align: center;
  height: 20px;
  width: 20px;
}

.padMe {
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding-left: 30px;
}

.thumbOptionsContainer {
  display: inline-block;
  max-width: 200px;
  text-align: center;
}

.hrPadding {
  width: 100%;
  margin-top: 10px;
}

.hrMini {
  margin: auto;
  width: 150px;
}

#runExporterButton {
  font-size: 16px;
  color: white;
  padding-left: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  max-width: 55px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}





#clickForLink {
  color: white;
}

#colorsContainer {
  font-size: 15px;
  text-align: left;
}

#colorControls {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#copiedText {
  display: none;
}

#colorPresets { 
  display: none;
}

#sizeSlider {
  max-width: 90px;
  vertical-align: bottom;
}

.appButton {
  cursor: pointer;
  height: auto;
  margin: -2px;
}

.colorControlsElement {
  display: inline-block;
  vertical-align: middle;
}

.labelContainer {
  display: block;
}

.groupLabel {
  cursor: pointer;
  padding-right: 5px;
}

.plusMinusMessage {
  font-size: 11px;
  padding-left: 3px;
}

.swatch {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 2px;
  position: relative;
  width: 75px;
  vertical-align: middle;
}

.swatchCopyText {
  bottom: 0;
  display: none;
  font-size: 10;
  position: absolute;
  text-align: bottom;
  text-shadow: 1px 1px 3px black;
}

.swatchText {
  font-size: 16;
  display: block;
  background: rgba(0, 0,0, 0.5);
}