a {
  text-decoration: none;
}

body {
  background-color: #262626;
  color: #f5f5f5;
  text-align: center;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  margin: 5px 0px;
}

input {
  /*color: white;
  text-shadow: 1px 1px 1px rgb(48, 48, 48);*/
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 100%;
}
select {
  background-color: rgb(184, 184, 184);
  overflow-y: scroll; 
}

div {
  padding: 5px;
}

li {
  padding: 4px;
}

#addMAMCommentsHolder {
  padding-bottom: 0;
  margin-bottom: -6px;
}

#audioSearchContainer{
  padding: 0;
}
#audioSearch{
  border-radius: 3px;
  margin: 0px;
  padding: 0;
}
#audioSearchControlsButton {
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  padding-bottom: 3px;
  z-index: 999;
}
#audioSearchControls{
  display: none;
  padding-bottom: 10px;
}
#pigeonHead{
  margin: -10px 0 0 0;
  padding: 0;
}
#audioPlayerContainer{
  margin: -15px 0 0 0;
  overflow-x: hidden;
}
#audioPlayer {
  position: relative;
}
#audioResults {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}


.noMargin {
  margin: 0;
  padding: 0;
}
#courtesiesBox{
  margin-right: 5px;
}
#TOSBox {
  margin-right: 5px;
}
#boldColorPicker{
  display: none;
  margin-top: 3px  
}
#boldColorSquare{
  cursor: pointer;
  margin-left: 3px;
  background-color: #007EFF;
  border: 1px solid rgb(210, 210, 210);
  height: 3px;
  width: 3px;
}
#boldColorSquareContainer {
  margin: 0;
  padding-top: 9px;
}
#boldColorSquare:hover{
  border: 1px solid white;
}
#boldHexValue {
  border-radius: 2px;
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 50px;
  text-align: center;
}

#captionCharacterLength {
  display: inline-block;
  margin: 0 auto;
  max-width: 15px;
  text-align: center;
}

#clickForLink {
  color: white;
}

#colorPalettesApp {
  display: none;
}

#addCommentsXMLHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#csvHolder, #creditsHolder{
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#renameCsvHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: none;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#showHideApps {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 0 10px 0 0;
}
#showHideApps:hover {
  color: #bdbdbd;
}


#srtHolder {
  background-color: #bdbdbd;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 50vw;
}

#csvContents, #renameCsvContents, #addCommentsXMLContents, #creditsContents{
  display: none;
}

#srtContents {
  display: none;
}

#csvFileList, #renameCsvFileList, #addCommentsXMLFileList, #creditsFileList{
  display: none;
}

#srtFileList {
  display: none;
}

#csvFileUploaderReset, #renameCsvFileUploaderReset, #addCommentsXMLFileUploaderReset, #creditsFileUploaderReset {
  padding: 7px;
  display: none;
}

#srtFileUploaderReset {
  padding: 7px;
  display: none;
}

#copiedColorText {
  display: none;
}

#csvParser {
  float: left;
}

#gridModal {
  display: none;
}

#helpBox {
  height: 40px;
  margin-top: -3px;
  max-width: 80%;
}

#hiddenText {
  display: none;
}

#importText {
  padding-left: 25px;
}

#infoModal {
  display: none;
}

#insider-logo {
  padding: 1px 0px 0px 0px;
  cursor: pointer;
}
#insider-logo:hover {
  opacity: 0.9;
}

#panelVersion {
  display: none;
}
#panelControls{
  margin: 0;
  padding: 0;
}
#pigeonControls{
  margin: 0;
  padding: 0;
}
#pigeonLoginErrorMessage{
  display: none;
}

#pigeonUser, #pigeonPass, #audioSearch {
  cursor: text;
}

#relinkHolder {
  margin-bottom: -10px;
}

#scaleToValue {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

#scriptImporterControls {
  display: none;
}

#srtImporterControls {
  display: none;
}

#scriptPreviewButton {
  background-color: #424242;
}
#scriptPreviewButtonHolder {
  display: none;
}

#scriptPreviewBox {
  display: none;
  width: 100%;
  border: 1px solid black;
  text-align: left;
}

#transcodeControls {
  display: none;
}

#reframeClipsControls {
  display: none;
}

#reframeMOGRTControls {
  display: none;
}

#fitToSequence {
  display: none;
}

#fullExportSequenceName {
  height: 3px !important;
  padding-bottom: 6px;
  padding-left: 3px;
  width: 140px !important;
}

#csvUploadInput, #renameCsvUploadInput, #addCommentsXMLUploadInput {
  display: none;
}

#saveMessage {
  position: absolute;
  margin-left: 18px;
  top: 23px;
}

#srtUploadInput {
  display: none;
}

#csvUploadLink, #renameCsvUploadLink, #addCommentsXMLUploadLink {
  color: blue;
}

#srtUploadLink {
  color: blue;
}

#exportControls {
  display: none;
}

#splitScreenMethod {
  cursor: pointer;
}
#splitScreenXSplits, #splitScreenYSplits{
  cursor: text;
  display: inline-block;
  margin: 0 5px 0 0;
  max-width: 15px;
  text-align: center;
}
#splitXYButton {
  cursor: pointer;
}

#horizontalThumbPixels {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

#mogrtTypeOptions {
  margin: 0 auto;
  max-width: 53px;
}

#MOGRTTrackOptions{
  max-width: 42px;
}

#projectToolsControls{
  display: none;
}

#splitScreenApp {
  display: none;
}

#thumbExportDetails {
  padding-left: 6px;
}

#thumbExporter {
  display: inline-block;
  margin-top: 6px;
}

#sequencesInitializeButton {
  display: inline-block;
  margin-top: 6px;
}

#updateWarning {
  font-size: 12px;
  display: none;
}

#updateNotification {
  display: none;
  cursor: pointer;
}

#updateLink {
  display: none;
}

#verticalThumbPixels {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 30px;
  text-align: center;
}

.checkBox {
  float: left;
  margin: 0;
  padding: 9px 10px 0px 3px;
}

.checkboxContainer {
  max-width: 200px;
  text-align: center;
}

.checkBox-Text {
  float: left;
  margin: 0;
  padding: 8px 0px 0px 0px;;
}

.colorControlsElement {
  margin-top: 1px;
  cursor: pointer;
}

.fa-circle {
  font-size: 16px;
  color: white;
}

.fa-info-circle {
  font-size: 16px;
  color: white;
}

.fa-exclamation-circle {
  font-size: 17px;
  color: #ff4000;
  padding-right: 4px;
}

.fa-fa-th {
  font-size: 16px;
  color: white;
}

.fa-save {
  cursor: pointer;
  font-size: 15px;
  padding-left: 9px;
}

.fa-sync-alt {
  font-size: 16px;
  color: white;
  padding: 0px 2px;
}

.fa-times {
  font-size: 16px;
  color: #424242;
  padding: 0px 2px;
}

.form-Text {
  display: inline-block;
  margin: 0;
  padding: 4px 0px 0px 0px;;
}


.interfaceComponent {
  display: inline-block;
  padding: 5px 0px 0px 0px;
  vertical-align: middle;
}

.grid-pad {
  background-color: #00c59c;
  border: 3px solid rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 5px;
  margin: -5px 1px;
  text-align: center;
  height: 20px;
  width: 20px;
}

.padMe {
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding-left: 30px;
}

#pigeonWindow {
  display: none;
}

#searchResultsWindow{
  height: 70vh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#updateCaptionsLengthInput {
  cursor: text;
  display: inline-block;
  margin: 0 auto;
  max-width: 22px;
  text-align: center;
}

#audioLibrarySearchOrder {
  cursor: pointer;
}
.audioLibraryChoice{
  cursor: pointer;
  display: inline-block;
  background-color: #404040;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none; 
}

.searchResult {
  border: 1px solid #404040;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}
.searchResult:hover {
  border: 1px solid grey;
}
.searchResultName {
  display: inline-block;
  width: 72vw;
  overflow-x: hidden;
  vertical-align: middle;
}
.searchResultDuration {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.searchResultDownloadingMessage {
  color: #ccc;
  font-size: 16px;
  margin: 0px 12px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}
.searchResultDownloadingMessage:hover {
  color: white;
}
.searchResultStatusMessage{
  color: rgb(255, 214, 89);
  display: none;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

.splitContainerBig {
  margin: 0;
  padding: 1px;
}
.splitContainer {
  display: inline-block;
  margin: 0;
  padding: 4px;
  vertical-align: middle;
}
.splitOption {
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.splitOption:hover { 
  background-color: rgb(28, 28, 28);
}
.whiteBgWide {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 56px;
  width: 100px;
}
.whiteBgSquare {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 65px;
  height: 65px;
}
.whiteBgVertical {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 56px;
}

.thumbOptionsContainer {
  display: inline-block;
  max-width: 200px;
  text-align: center;
}

.hrPadding {
  width: 100%;
  margin-top: 10px;
}

.hrMini {
  margin: auto;
  width: 150px;
}

#runExporterButton {
  font-size: 16px;
  color: white;
  padding-left: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  max-width: 55px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}





#clickForLink {
  color: white;
}

#colorsContainer {
  font-size: 15px;
  text-align: left;
}

#colorControls {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#copiedText {
  display: none;
}

#colorPresets { 
  display: none;
}

#searchResultsNumberContainer {
  margin: 0 0 2px 0;
  padding: 0;
  position: relative;
}
#searchResultsNumber {
  margin: 0;
  padding: 0;
}
#searchResultsNoLibraries {
  display: none;
}

#sizeSlider {
  max-width: 90px;
  vertical-align: bottom;
}

.appButton {
  cursor: pointer;
  height: auto;
  margin: -2px;
}

.app {
  display: none;
}

.colorControlsElement {
  display: inline-block;
  vertical-align: middle;
}

.labelContainer {
  display: block;
}
.lighterTD {
  background-color: #363636;
}

.groupLabel {
  cursor: pointer;
  padding-right: 5px;
}

.plusMinusMessage {
  font-size: 11px;
  padding-left: 3px;
}

.swatch {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 2px;
  position: relative;
  width: 75px;
  vertical-align: middle;
}

.swatchCopyText {
  bottom: 0;
  display: none;
  font-size: 10;
  position: absolute;
  text-align: bottom;
  text-shadow: 1px 1px 3px black;
}

.swatchText {
  font-size: 16;
  display: block;
  background: rgba(0, 0,0, 0.5);
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinnerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.progressBarContainer {
  height: 5px;
  width: 100px;
}

.spinner {
  content: '';
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}